@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #1f2937;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 20px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #6d747d;
}

.awesome {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.hero-subtext {
  font-size: 18px;
  color: #6d747d;
}
.header-hero {
  display: flex;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
}
img {
  max-height: 300px;
}
button {
  background-color: #3882f6;
  padding: 5px 30px 5px 30px;
  margin-top: 7px;
  font-size: 0.9em;
  color: #ffffff;
  border-radius: 5px;
}
h2 {
  text-align: center;
  padding: 30px;
}
.box {
  border: 3px solid #3677e1;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.box-container {
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
  gap: 20px;
}
.box-text {
  text-align: center;
  padding-top: 7px;
}

.section2 {
  text-align: center;
  background-color: #e5e7eb;
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding: 100px;
}
.quote {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
}
.quote-author {
  font-size: 18px;
  font-weight: 900;
  justify-self: end;
  margin-left: 550px;
}
